@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

body {
	font-family: 'Raleway', sans-serif;
}

#desktop-topbar {
	padding-top: 20px;
}

#login-dialog {
	margin-top: 2.5%;
}

.form-signin {
	padding: 0px 50px 0px 50px;
}

.Date {
	display: inline-block;
}

.menu-li {
	margin-left: 1em;
	margin-right: 1em;
	line-height: 2em;
}

.btn_subscribe {
	background-color: #3333aa;
	color: white;
}

.footer-bottom,
.footer-bottom a {
	margin-top: 4em;
	background-color: #333333;
	color: #fff;
}

.footer-nav {
	margin-top: 1.5em;
}

.copyright {
	margin-top: 6.5em;
	margin-bottom: 1.5em;
}