@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

body {
	font-family: 'Raleway', sans-serif;
}

#header {
	padding-top: 20px;
}

#login-dialog {
	margin-top: 2.5%;
}

.container {
	width: 1280px;
}

.form-signin {
	padding: 0px 50px 0px 50px;
}