@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

body {
	font-family: 'Raleway', sans-serif;
}

#desktop-topbar {
	padding-top: 20px;
}

#login-dialog {
	margin-top: 2.5%;
}

.Date,
.Weather,
.Forecast {
	display: inline-block;
}

.Weather {
	font-size: 2.2em;
}

.Weather::after {
	content: ' °C';
}

.Forecast {
	width: 1440px;
}

.fcwarp {
	overflow: scroll;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.fc-items {
	float: left;
	display:inline;
	width: 120px;
	height: 170px;
}

.menu-li {
	margin-left: 1em;
	margin-right: 1em;
	line-height: 2em;
}

.btn_subscribe {
	background-color: #3333aa;
	color: white;
}

.footer-bottom,
.footer-bottom a {
	margin-top: 4em;
	background-color: #333333;
	color: #fff;
}

.footer-nav {
	margin-top: 1.5em;
}

.copyright {
	margin-top: 6.5em;
	margin-bottom: 1.5em;
}

.error {
	background-color: #faa;
}

.correct {
	background-color: #afa;
}

#error-dialog {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	opacity: 0.95;
}