body {
	background-image: url('/ACP/Images/background.png');
	/* Createive Commons 3.0 by Google: http://midhunhk.blogspot.hk/2014/07/android-l-release-artwork.html */
}

.login-box {
	position: relative;
	top: 50%;
	transform: translateY(50%);
	background-color: #333;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close,
.close a {
	margin-top: -1em;
	margin-right: -0.5em;
	text-decoration: none;
	color: #fff !important;
	text-shadow: 0px 0px 4px #333;
	font-size: 2em;
}